//
//  AIDataInsight-DEV-debug.xcconfig
//  AIDataInsight
//
//  Created by Janlor on 4/22/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "AIDataInsight_Base.xcconfig"
#include "Project-DEV-debug.xcconfig"

// MARK: build settings
PRODUCT_BUNDLE_IDENTIFIER = com.janlor.AIDataInsightDev
INFOPLIST_KEY_CFBundleDisplayName = AI数据分析助手
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Test
